:root {
  --body-background-color: hsl(0, 0%, 93%);
  --first-neon-background-color: hsl(0, 100%, 32%);
  --secondary-neon-background-color: hsl(240, 100%, 28%);
  --third-neon-background-color: #4cc9f0;
  --fourth-neon-background-color: #fe0000;
  --fifth-neon-background-color: hsl(287, 100%, 37%);
  --first-text-color: hsl(0, 0%, 13%);
  --second-text-color: hsl(180, 100%, 45%);
  --main-font-family: wotfard;
  --secondary-font-family: roboto;
  --third-font-family: Helvetica;
  --standard-font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(
    --main-font-family,
    var(--secondary-font-family, var(--third-font-family, san-serif))
  );
  background-color: var(--body-background-color);
}

.headline-background-cover {
  overflow: hidden;
  position: relative;
  isolation: isolate;
  padding-bottom: 50px;
}

.headline-background-cover::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: slateblue;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 400px), 0 100%);
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
  z-index: -1;
}

.headline-background-cover::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 70%,
    rgba(0, 0, 0, 0.4) 95%,
    rgba(0, 0, 0, 0.6) 100%
  );
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 400px), 0 100%);
  z-index: -1;
  pointer-events: none;
}

/* Copy this onto 1500px breakpoint */

/* @media (min-width: 1500px) {
  .headline-container {
    display: flex;
    gap: 30px;
    padding: 2.5rem;
    margin: 2.5rem;
  }
  .details-wrapper {
    padding: 15px;
  }

  #japanese-text {
    margin-left: 6px;
    margin-bottom: 8px;
    font-size: 2.5rem;
  }

  .author {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
  }

  .about {
    margin-top: 15px;
    font-size: 1.35rem;
  }

  .details {
    margin-top: 15px;
    font: bold 1.25rem/1.6 var(--main-font-family);
  }

  .portfolio-image {
    width: 24vw;
    margin-right: 5px;
  }

  .my-projects-headline,
  .credentials-headline {
    padding: 15px;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
  .projects-grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .project-image {
    width: 437px;
    height: 250px;
    margin: 0 3px;
  }
  .project-image:first-child {
    margin-top: 20px;
    margin-left: 10px;
  }

  .project-title {
    font: bold 1.5rem verdana;
  }

  .project-details {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 25px;
  }
  .credential-details {
    padding: 10px;
  }

  .credential-wrapper {
    margin-bottom: 80px;
  }

  .field {
    font-size: 1.3rem;
  }

  .footer-layout {
    display: flex;
  }

  .footer-markup-wrapper {
    width: 50vw;
    margin: 0 auto;
    padding: 1px 5px 50px 50px;
    align-self: flex-start;
  }

  .footer-background-container {
    padding: 60px;
  }
  .footer-image {
    width: 320px;
    border-radius: 20px 20px 20px 20px;
    margin-right: 75px;
  }
  .contact-me {
    font-size: 1.5rem;
  }

  .bottom-icon {
    width: 30px;
  }

  .bottom-icons-wrapper {
    gap: 10px;
  }

  .information-container {
    gap: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .no-margin-headline {
    margin: 0px;
  }

  svg {
    width: 25px;
  }
} */

.headline-container {
  display: flex;
  gap: 30px;
  padding: 2.5rem;
  margin: 2.5rem;
  border-radius: 25px;
  background-color: hsl(0, 0%, 11%);
  box-shadow: 0px 0px 10px 7px crimson;
}

.details-wrapper {
  padding: 15px;
  box-shadow: 3px 3px 10px 3px white;
  border-radius: 12px 12px 12px 12px;
  transform: skewY(-0.7deg);
  transition: transform 400ms ease-in-out;
}

.details-wrapper:hover,
.details-wrapper:focus {
  transform: skewY(-1.2deg);
}

.text-enlarger-wrapper {
  transition: transform 500ms ease-in-out;
}

.text-enlarger-wrapper:hover {
  transform: scaleX(1.015);
}

.text-enlarger-wrapper:hover #japanese-text {
  transform: scale(1.04);
}

h1:focus #japanese-text {
  transform: scale(1.04);
}

#japanese-text {
  display: inline-block;
  color: hsl(9, 100%, 54%);
  text-shadow: 0px 0px 5px hsl(80, 61%, 41%);
  margin-left: 8px;
  transition: transform 400ms ease-in-out;
}

.author {
  color: hsl(240, 100%, 45%);
  font-size: 2.5rem;
  font-family: var(--secondary-font-family);
  font-weight: bolder;
  letter-spacing: 1.5px;
  text-shadow: 0px 0px 8px slateblue;
  transition: transform 400ms ease-in-out;
}

.author:focus {
  transform: scale(1.02);
}

.about {
  margin-top: 35px;
  color: hsl(0, 0%, 70%);
  text-shadow: 0px 0px 2px white;
}

.details {
  margin-top: 30px;
  font: bold 1.15rem/1.6 var(--main-font-family);
  color: var(--third-neon-background-color);
  text-shadow: 0px 0px 2px aqua;
}

.portfolio-image {
  width: 24vw;
  border-radius: 80px 10px 80px 10px;
  box-shadow: 0px 0px 25px hsl(240, 100%, 75%);
  margin-right: 5px;
  transition: transform 400ms ease-in-out;
}

.portfolio-image:hover,
.portfolio-image:focus {
  transform: perspective(200px) scale3d(1.03, 1.03, 1.5) rotateX(-1deg)
    translateZ(2px);
  cursor: pointer;
}

.my-projects-headline,
.credentials-headline {
  color: red;
  text-shadow: 3px 3px 3px crimson, 3px 3px 3px blue;
  -webkit-text-stroke: 1.5px black;
  padding: 15px;
  margin: 0;
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.credentials-headline {
  background-color: var(--body-background-color);
}

.content-container {
  display: flex;
}

.work-projects {
  flex: 8;
}

.projects-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: black;
}

.project-wrapper {
  background-color: #1e1e1e;
}

.project-image {
  width: 437px;
  height: 250px;
  border-radius: 20px;
  margin: 0 3px;
  transition: transform 200ms ease-in-out;
}

.project-image:first-child {
  margin-top: 20px;
  margin-left: 10px;
}

.project-image:hover,
.project-image:focus {
  transform: translateY(-10px);

  cursor: pointer;
}

.project-title,
.project-details {
  text-align: center;
}

.project-title {
  font: bold 1.5rem verdana;
  color: crimson;
  text-shadow: 0px 0px 10px red;
}

.project-details {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 25px;
  color: white;
}

.credentials {
  flex: 1;
  background: linear-gradient(
    to bottom,
    hsl(240, 100%, 25%),
    hsl(240, 100%, 20%),
    hsl(240, 100%, 15%)
  );
}

.credential-details {
  color: hsl(60, 100%, 75%);
  padding: 10px;
  text-align: center;
}

.credential-wrapper {
  margin-bottom: 80px;
}

.field {
  font-size: 1.3rem;
  text-align: center;
}

.field-details,
.languages,
.hobbies {
  color: hsl(348, 83%, 80%);
}

.footer-markup-wrapper {
  width: 50vw;
  margin: 0 auto;
  border-radius: 60px;
  background: linear-gradient(
    to right,
    hsl(0, 100%, 29%) 0%,
    hsl(0, 100%, 30%) 48%,
    hsl(0, 100%, 40%) 100%
  );
  padding: 1px 5px 50px 50px;
  align-self: flex-start;
}

.footer-background-container {
  background-color: hsl(0, 0%, 18%);
  padding: 60px;
}

.footer-layout {
  display: flex;
}

.footer-image {
  width: 350px;
  border-radius: 20px 20px 20px 20px;
  transition: transform 400ms ease-in-out;
  filter: brightness(110%);
  margin-right: 75px;
}

.footer-image:hover,
.footer-image:focus {
  transform: scale(1.03);
  cursor: pointer;
}

.contact-me {
  font-size: 1.5rem;
  font-family: Arial;
  color: hsl(80, 65%, 45%);
  text-shadow: 0px 0px 2px white;
}

.contact-request {
  color: hsl(0, 0%, 85%);
}

.contact-address,
.phone-number,
.email {
  color: hsl(9, 100%, 78%);
}

.footer-icon {
  fill: hsl(60, 100%, 37%);
  transition: transform 250ms ease;
}

.footer-icon:hover,
a:focus .footer-icon {
  transform: scale(1.08);
  fill: hsl(60, 100%, 43%);
}

.footer-icon:active {
  fill: hsl(0, 100%, 55%);
}

.bottom-icon {
  width: 30px;
  fill: turquoise;
  transition: transform 250ms ease;
}

.bottom-icon:hover,
a:focus .bottom-icon {
  transform: scale(1.1);
  fill: aqua;
}

.bottom-icon:active {
  fill: gray;
}

.bottom-icons-wrapper {
  display: flex;
  gap: 10px;
}

.information-container {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.no-margin-headline {
  margin: 0px;
}

svg {
  width: 25px;
  fill: hsl(60, 100%, 40%);
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

@media (max-width: 900px) {
  .headline-container {
    gap: 15px;
  }

  .details-wrapper {
    padding-right: 10px;
  }

  .portfolio-image {
    width: 35vw;
    margin-right: 10px;
  }

  .portrait-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
  }

  .details {
    margin-top: 0.2rem;
    font: bold 1rem/1.3 var(--main-font-family);
  }

  #japanese-text {
    display: inline-block;
    margin-left: 4px;
    font-size: 1.3rem;
  }

  .japanese-line {
    margin: 0;
  }

  .author {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    margin: 0.1rem;
  }

  .my-projects-headline,
  .credentials-headline {
    font-size: 1.3rem;
  }

  .image-grid {
    display: grid;
    place-items: center;
  }

  .project-image {
    width: 55%;
    height: auto;
    margin: 12px 1px;
  }

  .project-details {
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 20px;
  }

  .project-title {
    font-size: 1.3rem;
  }

  .credential-details {
    padding: 0;
  }

  .credential-wrapper {
    margin: 110px 10px;
  }

  .field {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .field-details {
    font-size: 1rem;
    margin: 0;
  }

  .hobbies {
    margin: 0;
  }

  .languages {
    margin: 0;
  }

  .footer-layout {
    display: block;
  }

  .footer-markup-wrapper {
    width: 55vw;
    margin: 0 auto;
    padding: 1px 15px 25px 50px;
  }

  .footer-background-container {
    padding: 25px 15px 10px 15px;
  }

  .footer-image {
    display: block;
    width: 250px;
    margin-right: 0;
    margin: 0 auto;
    margin-top: 20px;
  }

  .contact-me {
    font-size: 1.2rem;
  }

  .bottom-icon {
    width: 25px;
  }

  .bottom-icons-wrapper {
    gap: 9px;
  }

  .information-container {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .no-margin-headline {
    margin: 0px;
  }
}

@media (max-width: 600px) {
  .headline-container {
    flex-direction: column;
    gap: 15px;
  }

  .details-wrapper {
    padding-right: 10px;
  }

  .portfolio-image {
    width: 50vw;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .about {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
  }

  .details {
    margin-top: 0.2rem;
    font: bold 1.1rem/1.4 var(--main-font-family);
  }

  #japanese-text {
    display: inline-block;
    margin-left: 4px;
    font-size: 1.4rem;
  }

  .japanese-line {
    margin: 0;
  }

  .author {
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    margin: 0.1rem;
  }

  .my-projects-headline,
  .credentials-headline {
    font-size: 1.2rem;
  }

  .content-container {
    flex-direction: column;
  }

  .image-grid {
    display: grid;
  }

  .project-image {
    width: 80%;
    height: auto;
    margin: 10px;
    margin-left: 0;
  }

  .project-image:first-child {
    margin-top: 20px;
    margin-left: 0;
  }

  .project-details {
    font-size: 0.95rem;
    line-height: 1.3rem;
  }

  .project-title {
    font-size: 1.2rem;
  }

  .credential-wrapper {
    margin: 20px 10px;
  }

  .credential-wrapper {
    margin-bottom: 0;
  }

  .credential-wrapper:last-child {
    margin-bottom: 20px;
  }

  .field {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .field-details {
    font-size: 0.9rem;
    margin: 0;
  }

  .hobbies {
    font-size: 0.9rem;
  }

  .languages {
    font-size: 0.9rem;
  }

  .footer-layout {
    display: block;
  }

  .footer-markup-wrapper {
    width: 60vw;
    margin: 0 auto;
    padding: 1px 25px 25px 50px;
  }

  .footer-background-container {
    padding: 25px 15px 10px 15px;
  }

  .footer-image {
    display: block;
    width: 250px;
    margin-right: 0;
    margin: 0 auto;
    margin-top: 20px;
  }

  .contact-me {
    font-size: 1.1rem;
  }

  .contact-request {
    font-size: 0.85rem;
  }

  .bottom-icon {
    width: 25px;
  }

  .bottom-icons-wrapper {
    gap: 9px;
  }

  .information-container {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .no-margin-headline {
    margin: 0px;
  }
}

@media (max-width: 400px) {
  .headline-container {
    margin-top: 50px;
    padding: 1rem;
  }

  .portfolio-image {
    width: 55vw;
  }

  .about {
    font-size: 0.9rem;
  }

  .details {
    font: bold 0.9rem/1.2 var(--main-font-family);
  }

  .my-projects-headline,
  .credentials-headline {
    font-size: 1.1rem;
  }

  .project-image {
    width: 85%;
    height: auto;
    margin: 10px 0;
  }

  .project-details {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .project-title {
    font-size: 1.1rem;
  }

  .credential-wrapper {
    margin-bottom: 12px;
  }

  .field {
    font-size: 0.9rem;
  }

  .field-details,
  .hobbies,
  .languages {
    font-size: 0.8rem;
  }

  .contact-me {
    font-size: 1rem;
  }

  .contact-address,
  .phone-number,
  .email {
    font-size: 0.9rem;
  }
}

@media (min-width: 1100px) {
  .headline-container {
    gap: 15px;
  }

  .details-wrapper {
    padding-right: 10px;
  }

  .portfolio-image {
    width: 30vw;
    margin-right: 10px;
  }

  .portrait-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .details {
    margin-top: 0.4rem;
    font: bold 1.1rem/1.4 var(--main-font-family);
  }

  #japanese-text {
    display: inline-block;
    margin-left: 4px;
    font-size: 1.5rem;
  }

  .japanese-line {
    margin: 0;
  }

  .author {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    margin: 0.15rem 0;
  }

  .my-projects-headline,
  .credentials-headline {
    font-size: 1.4rem;
  }

  .image-grid {
    display: grid;
    place-items: center;
  }

  .project-image {
    width: 50%;
    height: auto;
    margin: 12px 1px;
  }

  .project-details {
    font-size: 1.15rem;
    line-height: 1.6rem;
    margin: 20px;
  }

  .project-title {
    font-size: 1.5rem;
  }

  .credential-details {
    padding: 0;
  }

  .credential-wrapper {
    margin: 120px 10px;
  }

  .field {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .field-details {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 0;
  }

  .hobbies {
    margin: 0;
    line-height: 1.6rem;
  }

  .languages {
    margin: 0;
    line-height: 1.6rem;
  }

  .footer-layout {
    display: block;
  }

  .footer-markup-wrapper {
    width: 55vw;
    margin: 0 auto;
    padding: 1px 15px 25px 50px;
  }

  .footer-background-container {
    padding: 25px 15px 10px 15px;
  }

  .footer-image {
    display: block;
    width: 250px;
    margin-right: 0;
    margin: 0 auto;
    margin-top: 20px;
  }

  .contact-me {
    font-size: 1.2rem;
  }

  .bottom-icon {
    width: 25px;
  }

  .bottom-icons-wrapper {
    gap: 9px;
  }

  .information-container {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .no-margin-headline {
    margin: 0px;
  }
}

@media (min-width: 1500px) {
  .headline-container {
    display: flex;
    gap: 30px;
    padding: 2.5rem;
    margin: 2.5rem;
  }
  .details-wrapper {
    padding: 15px;
  }

  #japanese-text {
    margin-left: 6px;
    margin-bottom: 8px;
    font-size: 2.5rem;
  }

  .author {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
  }

  .about {
    margin-top: 15px;
    font-size: 1.35rem;
  }

  .details {
    margin-top: 15px;
    font: bold 1.25rem/1.6 var(--main-font-family);
  }

  .portfolio-image {
    width: 24vw;
    margin-right: 5px;
  }

  .my-projects-headline,
  .credentials-headline {
    padding: 15px;
    margin: 0;
    font-size: 1.7rem;
    letter-spacing: 1.5px;
  }
  .projects-grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 3px;
  }

  .image-grid:first-child {
    margin-top: 20px;
  }

  .project-image {
    width: 438px;
    height: 250px;
  }
  .project-image:first-child {
    margin-top: 8.5px;
    margin-left: 10px;
  }

  .project-title {
    font: bold 1.5rem verdana;
  }

  .project-details {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 15px;
  }
  .credential-details {
    padding: 10px;
  }

  .credential-wrapper {
    margin: 10px;
    margin-bottom: 82px;
  }

  .first-field {
    margin-top: 50px;
  }

  .field {
    font-size: 1.3rem;
  }

  .footer-layout {
    display: flex;
  }

  .footer-markup-wrapper {
    width: 50vw;
    margin: 0 auto;
    padding: 1px 5px 50px 50px;
    align-self: flex-start;
  }

  .footer-background-container {
    padding: 60px;
  }
  .footer-image {
    width: 335px;
    border-radius: 20px 20px 20px 20px;
    height: auto;
    margin-top: 0;
    margin: 0;
    margin-right: 75px;
  }
  .contact-me {
    font-size: 1.5rem;
  }

  .bottom-icon {
    width: 30px;
  }

  .bottom-icons-wrapper {
    gap: 10px;
  }

  .information-container {
    gap: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .no-margin-headline {
    margin: 0px;
  }

  svg {
    width: 25px;
  }
}
